html {
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica;
  color: white;
}

a {
  color: white;
}

.container {
  display: flex;
  align-items: center;
  width: 960px;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}

.site-logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.site-title {
  margin: 0.66rem 1rem;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  align-items: flex-start;
  margin-top: 9rem;
}

.hero-content {
  width: 20rem;
  padding: 2rem 3rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: black;
}

.hero-content h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
}

/* Navigation Section */

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: firebrick;
}

/* when applying styles to a list, make sure you are targeting the list and not the containing div */

.nav ul {
  display: flex;
  width: 100%;
}

.nav li {
  margin: 0.75rem auto;
}

.nav li a {
  text-decoration: none;
}

/* Featured Content Section */

/* Featured Items Section */

.main {
  display: flex;
  flex-direction: column;
}

.main .container {
  justify-content: space-between;
}

.featured-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: 4px solid black;
  margin: 3rem 0;
}

.featured-img {
  display: flex;
  align-items: center;
  height: 13rem;
}
.featured-img img {
  max-width: 9rem;
}

.featured-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  background-color: black;
}

/* Store Info Section */

.store-info {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.info-title {
  padding: 0.5rem 2rem;
  background-color: black;
}

.store-info span {
  color: black;
}

.location .container {
  margin-bottom: 4rem;
}

/* Footer Section */

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5rem;
  background-color: black;
}

.footer .container {
  align-items: center;
}
